@import '../../../../assets/scss/variables';

.filter {
  &__form {
    padding: 0 25px 60px;
  }

  &__submit {
    width: 100%;
    margin-bottom: 15px;
  }

  &__reset {
    width: 144px;
  }
}

.form {
  &__value {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 12px;
    line-height: 1;
    color: $formGray;
    font-weight: 300;
  }

  &__input {
    padding: 28px 45px 13px 20px;
    width: 100%;
    height: 65px;
    border-radius: 1px;
    border: 1px solid transparent;
    background-color: $inputBackground;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    color: $mainGrey;
    font-size: 16px;
    font-family: inherit;
    line-height: 1;
  }

  &__input:focus,
  &__input:hover {
    outline: 0;
    border-color: $mainGrey;
  }

  &__input--area {
    height: 140px;
    resize: none;
  }

  &__select {
    width: 100%;
    height: 52px;
    border-radius: 0;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 14px 35px 14px 18px;
    color: $mainGrey;
    font-size: 16px;
    font-family: inherit;
    line-height: 1;
  }

  &__error {
    position: absolute;
    bottom: -17px;
    left: 20px;
    font-size: 11px;
    line-height: 14px;
    color: $mainPink;

    &-block {
      padding: 25px 30px;
      border: 3px solid $mainPink;
      border-radius: 1px;

      h4 {
        margin: 0 0 4px;
        font-weight: 500;
        font-size: 17px;
        line-height: 24px;
        color: $mainPink;
      }

      p {
        margin: 0;
        font-size: 13px;
        color: $black;
      }
    }
  }
}

.check-list {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item:not(:last-child) {
    margin-bottom: 13px;
  }

  &__label {
    display: block;
    cursor: pointer;
  }

  &__desc {
    position: relative;
    display: block;
    padding-left: 27px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 16px;
    line-height: 1;

    span {
      color: $formGray;
    }
  }

  &__desc::after,
  &__desc::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__desc::before {
    left: 0;
    width: 12px;
    height: 12px;
    background-color: $white;
    border: 1px solid $mainGrey;
  }

  &__desc::after {
    opacity: 0;
    left: 3px;
    width: 6px;
    height: 6px;
    background-color: $mainPink;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  &__label:focus &__desc::after,
  &__label:hover &__desc::after {
    opacity: 0.3;
  }

  &__check:checked ~ &__desc::after {
    opacity: 1;
  }
}
