<header class="header container">
  <div class="header__wrapper">
    <span class="header__info">Каталог</span>

    <a [routerLink]="['/catalog']" class="header__logo">
      <img
        src="assets/img/svg/logo-moire.svg"
        alt="Логотип интернет магазина Moire"
        width="116"
        height="34"
      />
    </a>

    <a class="header__tel"> 8 800 600 90 09 </a>

    <a [routerLink]="['/cart']" class="header__cart" aria-label="Корзина с товарами">
      <svg width="19" height="24">
        <use xlink:href="assets/img/svg/iconSprite.svg#icon-cart"></use>
      </svg>
      <span class="header__count" aria-label="Количество товаров">{{ cartCounter }}</span>
    </a>
  </div>
</header>
