@import '../../../assets/scss/variables';

.cart {
  &__field {
    grid-row: 1/3;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 370px;
    grid-template-rows: auto 1fr;
    grid-gap: 20px 50px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  &__block {
    border: 1px solid $paginationLink;
    border-radius: 1px;
    padding: 35px 30px;
  }

  &__button {
    margin-top: 20px;
    width: 100%;
  }

  &__desc,
  &__price {
    margin: 0 0 15px;
    font-size: 16px;
    line-height: 22px;
  }

  &__price {
    font-size: 30px;
    line-height: 48px;

    span {
      font-weight: 500;
      font-size: 34px;
      line-height: 48px;
    }
  }
}
