<main class="content container">
  <div class="content__top">
    <app-breadcrumbs [cart]="true"></app-breadcrumbs>

    <app-page-title title="корзина" [count]="basketTotalQuantity"></app-page-title>
  </div>

  <section *ngIf="basket; else loading" class="cart">
    <form class="cart__form form">
      <div class="cart__field">
        <ul class="cart__list">
          <app-cart-item
            *ngFor="let product of basket.items"
            [product]="product"
            (deleteProductEmit)="updateBasket($event)"
            (updateProductEmit)="updateBasket($event)"
          ></app-cart-item>
        </ul>
      </div>

      <div class="cart__block">
        <p class="cart__desc">Мы&nbsp;посчитаем стоимость доставки на&nbsp;следующем этапе</p>
        <p class="cart__price">
          Итого: <span>{{ cartTotalPrice }} ₽</span>
        </p>

        <button
          *ngIf="basketTotalQuantity !== 0"
          [routerLink]="['/order']"
          class="cart__button button button--primary"
          type="button"
        >
          Оформить заказ
        </button>
      </div>
    </form>
  </section>
</main>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
