$white: #FFFFFF;
$black: #000000;
$mainGrey: #222222;
$borderGray: #E9E9E9;
$buttonBlack: #150C26;
$mainPink: #E02D71;
$footerDescription: #9D9D9D;
$formGray: #737373;
$inputBackground: #FAFAFA;
$paginationLink: #D1D1D1;
$breadcrumbs: #B9B9B9;
$buttonPrimaryHover: #150C26;
