@import 'variables';

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-self: stretch;

  &__list {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 270px);
    grid-gap: 65px 30px;
    margin: 0 0 70px;
  }

  &__pagination {
    margin-top: auto;
  }
}
