<li class="product">
  <div class="product__pic">
    <img
      src="../../../../assets/img/product-square-4.jpg"
      width="120"
      height="120"
      alt="Название товара"
    />
  </div>
  <h3 class="product__title">Базовая хлопковая футболка</h3>
  <p class="product__info product__info--color">
    Цвет:
    <span>
      <i style="background-color: #ff9b78"></i>
      Персиковый
    </span>
  </p>
  <span class="product__code"> Артикул: 1501230 </span>

  <app-counter></app-counter>

  <span class="product__price"> 990 ₽ </span>

  <button class="product__del button-del" type="button" aria-label="Удалить товар из корзины">
    <svg width="20" height="20" fill="currentColor">
      <use xlink:href="assets/img/svg/iconSprite.svg#icon-close"></use>
    </svg>
  </button>
</li>
