@import '../../../../assets/scss/variables';

.product {
  display: grid;
  grid-template-columns: 120px 280px 140px auto 20px;
  grid-template-rows: repeat(3, min-content);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 10px 20px;
  margin-bottom: 60px;

  &__pic,
  &__title {
    align-self: flex-start;
    grid-column: 1/2;
    grid-row: 1/4;
  }

  &__title {
    margin: 0;
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
  }

  &__info {
    margin: 0;
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 14px;
    line-height: 1;
    color: $formGray;

    &--color span {
      position: relative;
      display: inline-block;
      padding-left: 30px;
      vertical-align: top;
    }

    &--color span i {
      left: 5px;
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }

    span {
      color: $mainGrey;
    }
  }

  &__code {
    grid-column: 2/3;
    grid-row: 3/4;
    font-size: 12px;
    color: $breadcrumbs;
  }

  &__price {
    font-weight: 600;
  }

  &__del {
    grid-column: 5/6;
    grid-row: 1/2;
  }
}
