<li class="product">
  <div class="product__pic">
    <img
      [src]="product.color.gallery[0].file.url"
      width="120"
      height="120"
      [alt]="product.product.title"
    />
  </div>
  <h3 class="product__title">{{ product.product.title }}</h3>

  <div class="product__info product__info--color">
    <div>
      Цвет:
      <span>
        <i [style.background-color]="product.color.color.code"></i>
        {{ product.color.color.title }}
      </span>
    </div>
    <div>
      Размер:
      <span>
        {{ product.size.title }}
      </span>
    </div>
  </div>
  <span class="product__code"> Артикул: {{ product.id }} </span>

  <app-counter [counter]="product.quantity" (amount)="changeQuantity($event)"></app-counter>

  <span class="product__price"> {{ itemTotalPrice }} ₽ </span>

  <button
    (click)="deleteProduct(product.id)"
    class="product__del button-del"
    type="button"
    aria-label="Удалить товар из корзины"
  >
    <svg width="20" height="20" fill="currentColor">
      <use xlink:href="assets/img/svg/iconSprite.svg#icon-close"></use>
    </svg>
  </button>
</li>
