<ul [ngSwitch]="pageType" class="breadcrumbs">
  <ng-template ngSwitchCase="info">
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" [routerLink]="['/catalog']"> Каталог </a>
    </li>
    <li *ngIf="categoryID" class="breadcrumbs__item">
      <a class="breadcrumbs__link" (click)="setCategory()" [routerLink]="['/catalog', categoryID]">
        {{ categoryTitle }}
      </a>
    </li>
    <li class="breadcrumbs__item" *ngIf="productTitle">
      <a class="breadcrumbs__link"> {{ productTitle }} </a>
    </li>
  </ng-template>
  <ng-template ngSwitchCase="cart">
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" [routerLink]="['/catalog']"> Каталог </a>
    </li>
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link"> Корзина </a>
    </li>
  </ng-template>
  <ng-template ngSwitchCase="order">
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" [routerLink]="['/catalog']"> Каталог </a>
    </li>
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" [routerLink]="['/cart']"> Корзина </a>
    </li>
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link"> Оформление заказа </a>
    </li>
  </ng-template>
</ul>
